@import "../../breakpoints/breakpoints.scss";

.carDisplay {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .carSection {
    overflow: hidden;
    min-height: 800px;
    margin-top: 30px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.467);

    @include media("<=phone") {
      height: 1100px;
    }
    @include media(">=phone", "<=425px") {
      height: 120vh;
    }
    img {
      width: 70%;
      margin-top: 150px;
      z-index: 2;
      @include media("<=phone") {
        margin-top: 100px;
        width: 100%;
      }
      @include media(">=phone", "<=425px") {
        margin-top: 170px;
        width: 100%;
      }
    }

    .columns {
      position: absolute;
      color: black;
      display: flex;
      height: 100%;
      width: 100%;
      @include media("<=phone") {
        flex-direction: column;
      }
      @include media(">=phone", "<=425px") {
        flex-direction: column;
      }

      h1 {
        font-size: 30px;
        @include media("<=phone") {
          font-size: 25px;
        }
        @include media(">=phone", "<=425px") {
          font-size: 25px;
        }
      }
      .left {
        justify-content: space-around;
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        background: rgb(210, 231, 251);
        background: linear-gradient(
          90deg,
          rgba(210, 231, 251, 1) 0%,
          rgba(255, 255, 255, 1) 100%
        );
        @include media("<=phone") {
          padding-top: 300px;
          background: rgb(255, 255, 255);
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(210, 231, 251, 1) 100%
          );
          text-align: center;
        }
        @include media(">=phone", "<=425px") {
          padding-top: 120%;
          background: rgb(255, 255, 255);
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(210, 231, 251, 1) 100%
          );
          text-align: center;
        }

        .leftComponent {
          width: 60%;
          p {
            color: gray;
          }
          &:hover {
            color: #143fff;
            transition: ease-in-out 0.3s;
          }
        }
      }

      .center {
        display: flex;
        flex-direction: column;
        flex: 2;
        align-items: center;
        padding: 0px 0;
        background: rgb(255, 255, 255);
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 1) 0%,
          rgba(210, 231, 251, 1) 100%
        );

        @include media("<=phone") {
          background: rgb(210, 231, 251);
          background: linear-gradient(
            180deg,
            rgba(210, 231, 251, 1) 0%,
            rgba(255, 255, 255, 1) 100%
          );
          position: absolute;
          justify-content: center;
          width: 100%;
        }
        @include media(">=phone", "<=425px") {
          background: rgb(210, 231, 251);
          background: linear-gradient(
            180deg,
            rgba(210, 231, 251, 1) 0%,
            rgba(255, 255, 255, 1) 100%
          );
          position: absolute;
          justify-content: center;
          width: 100%;
        }

        h1 {
          margin-top: 40px;
          font-size: 60px;
          display: flex;
          text-align: center;
          @include media("<=phone") {
            font-size: 30px;
          }
          @include media(">=phone", "<=425px") {
            font-size: 30px;
          }
        }
        button {
          position: absolute;
          bottom: 0;
          margin-bottom: 20px;
          font-size: 15px;
          font-weight: 700;
          background-color: #1463ff;
          padding: 10px 15px;
          color: white;
          border: none;
          cursor: pointer;
          z-index: 4;
          box-shadow: 0 10px 15px 0 rgba(48, 141, 255, 0.35);
          @include media("<=phone") {
            top: 650px;
            height: 50px;
          }
          @include media(">=phone", "<=425px") {
            top: 100px;
            height: 50px;
          }

          &:hover {
            background-color: #143fff;
            box-shadow: 0 10px 15px 5px rgba(48, 141, 255, 0.35);
          }
        }
      }

      .right {
        flex-direction: column;
        display: flex;
        flex: 1;
        background-color: #d2e7fb;
        align-items: center;
        justify-content: space-around;
        padding: 70px 0;
        @include media("<=phone") {
          height: 50px;
          background: rgb(210, 231, 251);
          background: linear-gradient(
            180deg,
            rgba(210, 231, 251, 1) 50%,
            rgba(255, 255, 255, 1) 100%
          );
        }
        @include media(">=phone", "<=425px") {
          padding: 10px 0;
          background: rgb(210, 231, 251);
          background: linear-gradient(
            180deg,
            rgba(210, 231, 251, 1) 50%,
            rgba(255, 255, 255, 1) 100%
          );
        }

        .iconSet {
          width: 40%;
          padding-left: 70px;

          @include media("<=phone") {
            width: 55%;
            padding-left: 0;
          }
          @include media(">=phone", "<=425px") {
            width: 55%;
            padding-left: 0;
          }

          i {
            margin-right: 10px;
          }

          &:hover {
            color: #143fff;
            transition: ease-in-out 0.3s;
          }
        }
      }
    }
  }
}
