@import "../../breakpoints/breakpoints.scss";

.footer {
  display: flex;
  color: black;
  background-color: whitesmoke;
  font-weight: 600;
  padding: 50px 0;
  @include media("<=phone") {
    flex-direction: column;
  }
  @include media(">=phone", "<=425px") {
    flex-direction: column;
  }

  h1 {
    @include media("<=phone") {
      font-weight: 700;
    }
    @include media(">=phone", "<=425px") {
      font-weight: 700;
    }
  }
  h2 {
    @include media("<=phone") {
      font-weight: 700;
    }
    @include media(">=phone", "<=425px") {
      font-weight: 700;
    }
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;

    .logo {
    }
    .description {
      margin: 20px 0px;

      p {
      }
    }
    .socialContainer {
      display: flex;
      cursor: pointer;
      .socialIcon {
        margin-top: 40px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: white;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
      }
    }
  }
  .center {
    flex: 1;
    padding: 20px;
    .title {
      margin-bottom: 20px;
      h2 {
      }
    }
    .list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      span {
        width: 50%;
        margin-bottom: 10px;
        cursor: pointer;
      }
    }

    .workingHours {
      margin-top: 20px;
      p {
        margin-top: 10px;
      }
    }
  }
  .right {
    flex: 1;
    padding: 20px;
    .title {
      margin-bottom: 20px;
    }
    .contactItem {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
    }
    .payment {
      img {
        width: 100%;
        cursor: pointer;
        margin-top: 40px;
      }
    }
  }
}
